* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #0e4bf1;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #4da3ff;
  --box2-color: #ffe6ac;
  --box3-color: #e7d1fc;
  --title-icon-color: #fff;
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}
body.dark {
  --primary-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --border-color: #4d4c4c;
  --toggle-color: #fff;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --title-icon-color: #ccc;
}

body {
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 12px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0b3cc1;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
  overflow: hidden;
}
.nav-brand {
  display: flex;
  align-items: center;
  gap: 14px;
}
.brand-name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  transition: var(--tran-05);
}

.nav-menus {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav-menus li a {
  display: flex;
  align-items: center;
}
.nav-menus li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  color: var(--black-light-color);
  text-align: center;
}
.link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}

.mode {
  white-space: nowrap;
}

/* section */
section {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}
.top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
  z-index: 10;
}
.sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}
.search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
}

.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}
input {
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}

.dash-content {
  padding-top: 50px;
}

nav.close {
  width: 73px;
}
nav.close .link-name {
  opacity: 0;
}
nav.close .brand-name {
  opacity: 0;
}
nav.close .mode-link {
  opacity: 0;
}
nav.close ~ section .top {
  left: 73px;
  width: calc(100% - 73px);
}
nav.close ~ section {
  left: 73px;
  width: calc(100% - 73px);
}

/* mode switch */
.mode {
  position: relative;
  display: flex;
  align-items: center;
}
.mode-toggle {
  position: absolute;
  right: 0px;
  width: 40px;
  height: 22px;
  background-color: var(--toggle-color);
  border-radius: 25px;
  padding-left: 5px;
  padding-top: 1px;
}
.switch {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: var(--panel-color);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--tran-03);
}
.dark .switch {
  transform: translateX(15px);
}
